@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
}

nav{
	background-color: #ff6701;
	height: 65px;
	padding: 1px;
	font-size: 20px;
}
ul{
	list-style: none;
	margin-left: -20px;
}
li{
	display: inline;
}
a{
	color: white;
	text-decoration: none;
}
.sub-direct{
	float: right;
	margin-right: 20px;
}

#active{
	color: black;
}

a:hover{
	color: black;
	transition: 0.4s;
}
html,
body {
    margin: 0;
}


.wrapper {
	margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 60%;
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
}



.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 0px 15px;
    background: white;
    display: flex;
    align-items: center;
    border: 2px solid #ff6701;
}

.inner h2 {
    
}

.inner p {
    margin-top: 5px;
}


.bayang {
    box-shadow: 0 0px 10px 1px rgba(154, 160, 185, 0.4);
}

img{
    height: 130px;
}

.item h2,h4{
    margin-left: 20px;
}

.check-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.check-button:hover {
    transform: scale(1.4);
}

.trash-button{
    
    background-size: contain;
    width: 40px;
    height: 40px;
    
    margin-left: auto;
    cursor: pointer;
    border: none;
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }
    li,a{
        font-size: 17px;
    }
    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

}