@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

* {
    font-family: 'Padauk', sans-serif;
}

nav{
	background-color: #ff6701;
	height: 65px;
	padding: 1px;
	font-size: 20px;
}
ul{
	list-style: none;
	margin-left: -20px;
}
li{
	display: inline;
}
a{
	color: white;
	text-decoration: none;
}

.sub-direct{
	float: right;
	margin-right: 20px;
}

#active{
	color: black;
}

a:hover{
	color: black;
	transition: 0.4s;
}
body {
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 60%;
    border-radius: 8px;
    margin: 16px;
    background: #F8F9FA;
    padding: 16px;
}


.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 15px;
}

.bayang {
    box-shadow: 0 0px 10px 1px rgba(154, 160, 185, 0.4);
}

input {
    background: white;
    font-size: 17px;
    border: 2px solid #ff6701;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 10px;
}

.btn-submit {
    border: none;
    border-radius: 6px;
    padding: 7px 15px;
    border:2px solid #5F30E2;
    color: black;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-submit:hover{
    transition: 0.4s;
    background: #5F30E2;
    color: white;
}

input:focus{
    outline: none;
}

.text-center {
    text-align: center;
}



@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }
    li,a{
        font-size: 17px;
    }
    .wrapper .container {
        width: 100%;
    }
    .form {
        width: 100%;
    }

}